<div class="card-container">
    <div class="cards">
        <div class="layout">
            {{#if data}}
                {{#each data}}
                    {{#if this.cards}}
                    {{#each this.cards}}
                        <card-element photo="{{this.photo}}" title="{{this.title}}" equip="{{this.equip}}" price="{{this.price}}"
                            delivery="{{this.delivery}}" isOffer="{{this.isOffer}}" available="{{this.available}}" favorites="{{this.favorites}}" _id="{{this._id}}"></card-element>
                    {{/each}}
                    {{else}}
                    <h1>Repository vuoto</h1>
                    {{/if}}
                {{/each}}
            {{else}}
                <h1>Nessun dato</h1>
            {{/if}}
        </div>
    </div>
</div>

<script src="../public/components/card.js"></script>